<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login admin</title>
</head>
<body>
<form>
    <div class="imgcontainer">
        <img src="">
    </div>
    <div class="container">
        <label ><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label ><b>password</b></label>
        <input type="text" placeholder="Enter password",name="psw" required>
        <button type="submit">login</button>
           <label>
               <input type="checkbox" checked="checked" name="remember">Remember me
           </label>

    </div>
    <div class="container" style="background -color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="pse"><a href="#">Forgot</a></span>
    </div>
</form>

</body>
</html>